<nav class="def navbar navbar-expand-lg navbar-light"
     [class.added]="coordinate > 80">
  <div class="  container-fluid"
       [class.added]="coordinate > 80">
    <div class="logo-wrap">
      <img routerLink="" style="cursor: pointer" src="assets\logo.png" alt="">
    </div>
    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div  [ngbCollapse]="isMenuCollapsed"   class=" collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink=""   aria-current="page" >{{'header.first' | translate}}</a>
        </li>
        <li  class=" nav-item dropdown">
          <a  class="nav-link" style="cursor: pointer" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'header.second' | translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
           <li><a class="dropdown-item" routerLink="customs">{{'body.head-1' | translate}}</a></li>
           <li><a class="dropdown-item" routerLink="terrestrial">{{'body.head-2' | translate}}</a> </li>
           <li><a class="dropdown-item" routerLink="ship">{{'body.head-3' | translate}}</a> </li>
           <li><a class="dropdown-item" routerLink="train">{{ 'body.head-4' | translate}}</a> </li>
          </ul>
        </li>
        <li class="nav-item">
          <a  class="nav-link" style="cursor: pointer" >{{'header.third' | translate}}</a>
        </li>


        <li  class=" nav-item dropdown">
          <a  class="nav-link" style="cursor: pointer" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'header.fourth' | translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
           <li><a (click)="setLang('ka')" style="cursor: pointer" class="dropdown-item" >Georgian</a></li>
           <li><a (click)="setLang('en')" style="cursor: pointer" class="dropdown-item" >English</a> </li>
           <li><a (click)="setLang('ru')" style="cursor: pointer" class="dropdown-item" >Russian</a> </li>
          </ul>
        </li>

      </ul>
        <!-- <span (click)="setLang(1)">Georgian</span>
        <span (click)="setLang(2)">English</span>
        <span (click)="setLang(3)">Russian</span> -->
    </div>
  </div>
</nav>
