<div class="wrapper">
    <div class="container">
        <div class="text">
            <div class="contact">
                <h3>{{'footer.footer-header' | translate}}</h3>
                <br>
                <span>{{'footer.footer-address' | translate}}</span>
                <br>
                <span>598 09 80 89</span>
                <br>
                <span>598 09 80 89</span>
                <br><br>
                <span>(Email) : info@tls.ge</span>
            </div>
        </div>
    </div>
</div>