<div class="wrapper">
  <div class="header-wrapper">
    <h2 class="msc-section-title">{{'terrestrial.terrestrial-header' | translate}}</h2>
  </div>
  <div  class="first-section">
    <div class="container">
      
      <div class="row row-container">
        <div class="col-md-4 image-container">
          <div class="logo">
            <img src="assets/truck.png" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="header">
            <h5>{{'terrestrial.terrestrial-head-1' | translate}}</h5>
          </div>
          <div class="list-wrap">
            <ul>
              <li>{{'terrestrial.terrestrial-1' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2' | translate}}</li>
              <li>{{'terrestrial.terrestrial-3' | translate}}</li>
              <li>{{'terrestrial.terrestrial-4' | translate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="third-section">
    <div class="container">
      <div class="row row-container">
        <div class="col-md-4 image-container">
          <div class="logo">
            <img src="assets/cargo (1).png" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="header">
            <h5>{{'terrestrial.terrestrial-head-2' | translate}}</h5>
          </div>
          <div class="list-wrap">
            <ul>
              <li>{{'terrestrial.terrestrial-2-1' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-2' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-3' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-4' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-5' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-6' | translate}}</li>
              <li> {{'terrestrial.terrestrial-2-7' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-8' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-9' | translate}}</li>
              <li>{{'terrestrial.terrestrial-2-10' | translate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>