<div class="wrapper">
  <div class="container">
    <div class="header-wrapper">
      <h2 class="msc-section-title">{{'body.head-1' | translate}}</h2>
    </div>
    <div class="row col-wrapper">
      <div class="col-md-4 image">
        <img src="assets/containers.png" alt="">
        
      </div>
      <div class="col-md-8 list">
        <ul>
          <li>{{'customs.custom-1' | translate}}</li>
          <li>{{'customs.custom-2' | translate}}</li>
          <li>{{'customs.custom-3'| translate}}</li>
          <li>{{'customs.custom-4' | translate}}</li>
          <li>{{'customs.custom-5' | translate}}</li>
          <li>{{'customs.custom-6' | translate}}</li>
          <li>{{'customs.custom-7' | translate}}</li>
          <li>{{'customs.custom-8' | translate}}</li>
          <li>{{'customs.custom-9' | translate}}</li>
          <li>{{'customs.custom-10' | translate}}</li>
          <li>{{'customs.custom-11' | translate}}</li>
          <li>
            {{'customs.custom-12' | translate}}
          </li>
        </ul>
       
      </div>
    </div>
  </div>
</div>
