<div class="wrapper">
  <div class="first-section">
    <video style="width: 100%" autoplay loop muted >
      <source src="assets/gif/video-v.mp4" type="video/mp4">
    </video>
  </div>
  <div class="second-section">
    <div class="container">
      <div class="header-wrapper">
        <h2 class="msc-section-title">{{'body.header' | translate}}</h2>
      </div>
      <div class="row">
        <div routerLink="/customs" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/cargo.png" alt="">
          </div>
          <div class="description">
            <h4>{{'body.head-1' | translate}}</h4>
          </div>
        </div>
        <div routerLink="/terrestrial" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/box-truck.png" alt="">
          </div>
          <div class="description">
            <h4> {{'body.head-2' | translate}}</h4> 
          </div>
        </div>
        <div routerLink="/ship" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/cargo-ship.png" alt="">
          </div>
          <div class="description">
            <h4> {{'body.head-3' | translate}}</h4>
          </div>
        </div>
        <div routerLink="/train" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/train.png" alt="">
          </div>
          <div class="description">
            <h4> {{'body.head-4' | translate }} </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="section3" class="third-section">
    <div class="container">
      <div class="header-wrapper">
        <h2 class="msc-section-title">{{'header.third' | translate }}</h2>
      </div>
      <div class="row third-container">
        <div class="col-md-4">
          <div class="logo">
            <img src="assets/teamwork.png" alt="">
          </div>
        </div>
        <div class="col-md-8 text">
          <p>
            {{'body.about-us' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>